<div class="buttons">
  <a href="/birds/add-sighting"><button class="red-button">Record a bird sighting</button></a>
  <a href="/cats/register"><button class="red-button">Register your Cat</button></a>
  <a href="/cats/sightings"><button class="red-button">Recent Cat Sightings</button></a>
</div>