<div class="buttons">
  <button class="red-button">Record a bird sighting</button>
  <button class="red-button">Record a cat sighting</button>
  <a href="/cats/sightings"><button class="red-button">Recent Cat Sightings</button></a>
</div>