<div class="aboutUs">

  <h1>About Us </h1>

  <img class="img-circle" src="/images/aboutUs/jared.png">

  <p>CEO , Jared Dunn.</p> 

  <p>Jared was sick of seeing the native bird population of NZ ravaged by savage highly-dangerous out-of-control domesticated house cats, often high on drugs.</p> 

  <p>Jared did some <a href="https://morganfoundation.org.nz/cats/damage/">research</a> online and confirmed his suspicion that cats are having a massive impact on New Zealand's Native Bird population.</p>

  <p>He decided to do something about it.</p>

  <p>And 'Cats vs Birds' was born</p>

</div>