<div class="aboutUs">

  <h1>About Us </h1>

  <p>Cats vs Birds allows responsible cat owners to register their cats.</p> 
    
  <p>While also allowing bird watchers to record their sightings of Native NZ birds.</p>
    
  <p>By recieving data on where birds are being spotted and where cats are living, 
    Cats vs Birds can identify areas where birds are at risk of being attacked by cats.</p>

  <img class="img-circle" src="/images/aboutUs/jared.png">

  <p class="ceo">CEO , Jared Dunn.</p> 

  <p>Jared was sick of seeing the native bird population of NZ ravaged by savage highly-dangerous out-of-control domesticated house cats, often high on drugs.</p> 

  <p>Jared did some <a href="https://morganfoundation.org.nz/cats/damage/">research</a> online and confirmed his suspicion that cats are having a massive impact on New Zealand's Native Bird population.</p>

  <p>He decided to do something about it.</p>
</div>