<h2>Bird Sighting Form</h2>
<form class="form" action="/birds/add-sighting" method="post"> 
  <label> Select the bird species you identified from the dropdown list:</label>  
  <select id="dropdown-list" name="species">  
  <option> --- Choose Species --- </option>  
  {{#each birds}}
    <option>{{species}}</option>
  {{/each}}
  </select>  

<br>
  <label class="form-item">Date: </label> 
  <input type="text" name="date">

<br>
<label class="form-item">Location: </label> 
<input type="text" name="location">

<br>
  <label class="form-item">How many did you see? </label> 
  <input type="text" name="quantity" value="{{quantity}}">

<br>
  <label class="form-item">Comments: </label>
  <input type="text" name="comments">

<input type="submit" name="" value="Submit">
</form>
