<form class="form" action="/cats/registering" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name">
  </label>

  <label for="img" class="form-item">
    Image URL:
    <input type="text" name="image">
  </label>
  
  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner">
  </label>
  
  <label for="dangerLevel" class="form-item">
    Danger Levels:
    <input type="text" name="dangerLevel">
  </label>
  
  <label for="comments" class="form-item">
    Comments:
    <input type="text" name="comments">
  </label>

  <label for="Location" class="form-item">
    Location:
    <input type="text" name="location">
  </label>

  <input type="hidden" name="image">
  
  <br>
  <input type="submit" name="" value="Submit">
</form>
