body {
  background-color: #DCC48E;
  /* font-family: 'Spirax', cursive; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5%;
}

.buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.red-button {
  background-color: #621B00;
  font-size: larger;
  color: ivory;
  margin: 50px;
  padding: 20px;
  border-radius: 5%;
  /* justify-content: space-around; */
}

.bird-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.center {
  text-align: center;
}

.bird-sightings {
  padding: 2%;
  margin: 2%;
  font-size: medium;
  border: #228B22;
  border-width: 0.5%;
}

.cat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.bird {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 50px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  text-align: center;
}

.ceo {
  color: grey;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  font-size: x-large;
  color: black;
  padding: 2%
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Roboto', sans-serif;
}

.detail {
  margin: 2px;
}

.form-item {
  margin: 4px;
}

/* Phone */
@media (max-width: 480px) { 
  .red-button {
    background-color: #621B00;
    font-size: larger;
    color: ivory;
    margin: auto;
    padding: auto;
    border-radius: 5%;
    /* justify-content: space-around; */
  }
  .img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 175px;
    height: 175px;
  }  
}

/* Tablet */
@media (max-width: 768px) {
  .red-button {
    background-color: #621B00;
    font-size: larger;
    color: ivory;
    margin: auto;
    padding: auto;
    border-radius: 5%;
    /* justify-content: space-around; */
  }  
  .img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
  } 
  .nav-bar {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
    font-size: larger;
  }
}

/* Desktop */ 
@media (max-width: 1200px) {
  body {
    background-color: cornflowerblue;
  }
  .red-button {
    background-color: #621B00;
    font-size: larger;
    color: ivory;
    margin: 5%;
    padding: 5%;
    border-radius: 5%;
   }  
  .img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 350px;
    height: 350px;
  } 
  .nav-bar {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
    font-size: larger;
  }
}
